body {
  margin: 60px 300px 600px 30px;
  font-family: "PT Sans", sans-serif;
  background: linear-gradient(
  109.6deg,
  rgb(17, 151, 147) 11.2%,
  rgb(154, 214, 212) 55.4%,
  rgb(255, 233, 171) 100.2%
);
}