
.Weather {
    background: radial-gradient(
        circle at 10% 20%,
        rgb(254, 255, 165) 0%,
        rgb(255, 232, 182) 90%);
    font-family: "PT Sans", sans-serif;
    margin: 60px 300px 600px 30px;
    text-align: left;
    border: 1px solid #dadde1;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #6d597a;
  }  
  
  .Weather h1 {
    font-size: 38px;
    text-align: initial;
    color:grey;
  }  

  .Weather h2 {
    font-size: 38px;
    text-align: center;
    color: grey;

  }
  
  .Weather li {
    color: #352323;
    font-size: 18px;
    font-weight: 200;
    line-height: 19px;
    list-style: none;
  }
  
  .Weather ul {
      padding-left: 0;
  }
  .Weather .WeatherTemperature {
    text-align: center;
    font-weight: bold;
    color: rgb(33, 33, 33);
    font-size: 54px;
    line-height: 29px;
  }
  
  .Weather canvas {
    text-align: center;
    margin-top: 0px;
  }
  
  .Weather .unit {
    color: rgb(33, 33, 33);
    font-size: 20px;
    font-weight: bold;
    position: relative;
    line-height: 5;
    top: -34px;
  }
